h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.bg-333{
    background-color: #333;
}
.bg-222{
    background-color: #222;
}
.text-333{
    color: #333;
}
.fs-20{
    font-size: 20px;
}
body{
    background-color: #555;
}
.footer{
    background-color: #333;
}
.footer-link-title{
    background-color: #000;
    color: #fff;
}
.promotion-title, .product-card-title, .service-title, .supply{
    margin-top: 50px;
    padding: 15px 0;
    background-color: #333;
    border-radius: 20px;
    color: #fff;
}
.fix-space{
    margin-top: 68px;
}
.logo{
    width: 200px;
}
.nav-login{
    cursor: pointer;
}
.navbar-nav li, .register-btn, .login-btn{
    cursor: pointer;
}
.sm-login-box{
    width: 100%;
    height: 57vh;
    background-color: #333;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: 0.5s;
    border-radius: 20px;
}
.search-box, .menu-box{
    width: 100%;
    height: 90vh;
    background-color: #333;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: 0.5s;
    border-radius: 20px;
}
.login-box{
    width: 40%;
    min-width: 550px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    transition: 0.5s;
}
.searchTableBox:nth-last-child(1){
    width: 100%;
    height: calc(90vh - 133px - 4.5rem);
    overflow: scroll;
}
.scrollProhibit{
    overflow-y: hidden;
    overflow-x: hidden;
}
.login-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.sm-login-close, .menu-close, .search-close{
    top: 9.25px;
    right: 16px;
    font-size: 25px;
}
.product-title{
    font-size: 20px;
    padding: 15px 20px;
    margin: 0;
}
.accordion-body, .about p{
    line-height: 2;
    letter-spacing: 0.5px;
}
.register{
    text-decoration: none;
    margin: 0 16px;
}
.forgotPassword{
    text-decoration: none;
}
.product-box a{
    color: #333;
}
.ps-r{
    position: relative;
}
.ps-a{
    position: absolute;
}
.ps-f{
    position: fixed;
}
.addShoppingCart{
    z-index: 5;
    bottom: 0;
    right: 0;
    left: 0;
    top: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    visibility: hidden;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}
.card-pic{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    padding: 50%;
}
.nav-sm-item{
    cursor: pointer;
}
.card{
    overflow: hidden;
}
.card-pic:hover .addShoppingCart{
    visibility: visible;
    top: 85%;
}
.text h2, .productDescription h2, .productContent h2, .productNumberOfPeople h2, .productRule h2{
    font-size: 25px;
    font-weight: 900;
}
.annotation{
    font-size: 15px;
}
.price{
    font-size: 20px;
}
.productDescription p, .productContent p, .productNumberOfPeople p, .productRule p{
    font-size: 15px;
    line-height: 2.5;
}
.line{
    height: 1px;
    background-color: #fff;
}
.card-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.my-cart-btn{
    cursor: pointer;
}
.shoppingCart{
    right: 10px;
    bottom: 10px;
    z-index: 5;
}
.shoppingCartBg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
}
.shoppingCart-sm{
    font-size: 25px;
    color: #999;
}
.nav-sm-item i{
    font-size: 25px;
}
.nav-sm-item p{
    font-size: 12px;
}
.nav-sm-item span{
    font-size: 25px;
}
.nav-top span{
    font-size: 20px;
    color: #fff;
}
.quickLoginLine{
    flex-grow: 1;
    height: 1px;
    background-color: #fff;
}
.register-btn, .sm-login-btn, .login-btn, .sm-register-btn{
    padding: 15px 20px;
}
.bottom-line{
    border-bottom: #fff solid;
}
.sm-register-content, .register-content{
    display: none;
}
.eye-slash-icon, .eye-icon{
    top: calc(45px + 1.5rem);
    right: 11px;
}
.eye-icon{
    display: none;
}
.menu-title, .search-title{
    padding: 15px 0;
    text-align: center;
}
.menu-box .col-5{
    padding: 0;
}
.menuBox{
    width: 100%;
    height: calc(90vh - 55px - 3rem);
    overflow: scroll;
    margin-top: 1.5rem;
}
.login .phone, .sm-login .phone{
    margin: calc(37px + 1rem) 0;
}
.login .continue, .sm-login .continue{
    margin-bottom: calc(37px + 1rem);
}
.promotionContent p{
    padding: 0 40px;
    margin-bottom: 50px;
    line-height: 2;
    letter-spacing: 0.5px;
}
.promotionContent p:nth-child(1), .promotionBanner{
    margin-top: 50px;
}
.fotorama__nav-wrap{
    margin-top: 1.5rem;
}
.modal-content{
    color: #fff;
    background-color: #333;
    max-height: 80vh;
    padding: 0 10px;
    border: 10px solid #333;
}
.modal-body{
    padding-top: 0;
    padding-bottom: 0;
    overflow: auto;
}
#my-cart-table{
    color: #fff;
    margin: 0;
}
.table{
    border: none;
}
tbody, td, tfoot, th, thead, tr{
    border-style: none;
}
.tableHover tr{
    transition: 0.5s;
}
#my-cart-table tbody tr:nth-last-child(even){
    border-bottom: #999 solid 1px;
}
#my-cart-table tbody tr:nth-last-child(2){
    border: none;
}
.tableHover tr:hover{
    background-color: #fff;
    color: #000;
}
.promotion-img, .product-card-img, .service-content-img{
    border-radius: 20px;
}
.service-content h2, .about-content h2{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}
.service-content p,  .about-content p{
    line-height: 2;
    color: rgb(200, 200, 200);
}
.about-content-img{
    width: 60px;
    float: left;
    margin-right: 12px;
}
.service-right-img{
    width: 60%;
}
.more-btn{
    width: 150px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 1.5rem;
    margin-bottom: 50px;
}
.accordion-item:first-of-type{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.accordion-item:last-of-type .accordion-button.collapsed, .accordion-item:last-of-type{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.icons i{
    font-size: 20px;
}
.btn-fb{
    background-color: #3b5998;
    transition: 0.5s;
}
.btn-fb:hover{
    background-color: #293c67 !important;
}
.btn-line{
    background-color: #00c300;
    transition: 0.5s;
}
.btn-line:hover{
    background-color: #007600 !important;
}
.text-width{
    width: calc(1.375rem + 1.5vw);
}
.badge{
    padding: 0px;
}
.accordion-item{
    border: none;
}
.menuBox img, .modal-content, #searchTable img{
    border-radius: 20px;
}
#my-cart-table img{
    border-radius: 10px;
}
.pagination{
    margin-bottom: 4rem;
}
.product-btn:hover{
    background-color: #fff !important;
    color: #000 !important;
}
.more-btn:hover{
    background: #fff !important;
}
.more-btn:hover a{
    color: #000 !important;
}
.more-btn a{
    transition: 0.5s;
}
.line-through{
    text-decoration: line-through;
}
.accordion-button:not(.collapsed){
    color: #000;
    background-color: #fff;
    box-shadow: none;
}
.accordion-button:focus{
    box-shadow: none;
}
#headingTwo, #headingThree{
    border-top: 1px solid #000;
}
.dropdown-menu a{
    color: #fff;
}
.dropdown-menu li:hover .dropdown-menu a{
    background-color: #fff;
    color: #000;
}
@media screen and (min-width: 768px){
    .product-card .col-12:nth-child(even){
        margin-top: -100px;
    }
    .footer-link-md{
        display: block !important;
    }
    .footer-link{
        display: none;
    }
    .about .col-12:nth-last-child(2){
        margin-top: -200px;
    }
    .project{
        display: none;
    }
    .accordion{
        box-shadow: #000 0px 0px 20px;
        border-radius: 20px;
    }
}
@media screen and (min-width:992px){
    .search-sm{
        display: none;
    }
    .nav-sm-bottom, .nav-sm-top{
        display: none !important;
    }
}
@media screen and (min-width:1200px){
    .addShoppingCart-sm{
        display: none;
    }
    .fix-bottom-md{
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .fix-bottom{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
@media screen and (max-width: 767px){
    .aside{
        display: none;
    }
    .search-sm{
        flex-grow: 1;
    }
    .product-card-img{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .accordion-item:first-of-type{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .accordion-item:last-of-type .accordion-button.collapsed, .accordion-item:last-of-type{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .fotorama__nav-wrap{
        margin-bottom: 1.5rem;
    }
    .shop{
        margin-top: 1.5rem;
    }
    .about-content-card:nth-child(6), .about-content-card:nth-child(8){
        margin-top: 1.5rem;
    }
    .about-content-space{
        display: none;
    }
    
    

    
}
@media screen and (max-width:991px){
    .navbar-sm{
        display: none;
    }
    .fix-bottom-space{
        margin-bottom: 55px;
    }
    .nav-top{
        display: none;
    }
    .badge{
        position: absolute;
        bottom: 0;
        right: -2px;
        padding: 4px;
        background-color: rgb(33, 37, 41);
        border-radius: 50%;
        font-size: 12px !important;
    }
    .my-cart-icon{
        position: relative;
        padding-right: 15px;
    }
    .nav-sm-item{
        padding: 0;
    }
}
@media screen and (max-width: 1199px){
    .addShoppingCart{
        display: none;
    }
    .card{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: none;
    }
    .product-btn{
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
}
